.dashbor {
  min-height: 100vh;
  padding: 24px;
  background-color: #121212;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.meshdy{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.font-bold {
  color: white;
  font-size: 40px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 353px;
  height: 69px;
  border-radius: 10px;
  color: #E0E0E0;
  margin-top: 15px;
  
}



.primer {
  width: 480px;
  height: 288px;
  background: #1E1E1E;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(153.23, 133.17, 133.17, 0.25) inset;
}

.txtprim{
  color: white;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
   width: 445px;
  height: 62px;
}

.ttxtprim {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E0E0E0;
  font-size: 32px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  width: 321px;
  height: 45px;
}