.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #121212;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}



.home-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 421px;
  height: 67px;
  color: white;
  font-size: 48px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.home-description {
  display: flex;
  align-items: center;
  justify-content: center;
 color: #A0A0A0;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  width: 438px;
  height: 22px;
}

.btn {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 213px;
  height: 56px;
  background: #1E1E1E; 
  border-radius: 20px;
}



.btn-primary{
  text-decoration: none;
  color: #E0E0E0;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  transition: transform 0.2s ease;
}

.btn-primary:hover{
  transform: scale(1.15);
  background: #A0A0A0;
}