.pdd {
  color: #A0A0A0;
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
   width: 55px;
  height: 20px;
}

.iputvput{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 553px;
  height: 69px;
  background: #1E1E1E;
  border-radius: 10px;
  color: #E0E0E0;
}