.warehouse-select {
  margin-bottom: 16px;
}

.warehouse-select__label {
  color: #A0A0A0;
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
   width: 55px;
  height: 20px;
}


.warehouse-select__input {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 553px;
  height: 69px;
  background: #1E1E1E;
  border-radius: 10px;
  color: #E0E0E0;
}


.warehouse-select__input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.warehouse-select__input:disabled {
  background-color: #f8fafc;
  color: #94a3b8;
  cursor: not-allowed;
}