.header{
    width: 100%;
  height: 53px;
  background: #1E1E1E;
  display: flex;
  justify-content: center;
  border-bottom: 3px #444444 solid;
}

.logo{
display: flex;
  justify-content: center;
  color: #E0E0E0;
  font-family: Inter;
  font-size: 20px;
  word-wrap: break-word;
  text-decoration: none;
  margin: 10px;
  margin-right: 40px;
  transition: transform 0.2s ease;
}

.logo:hover{
  transform: scale(1.15);
}

.nav-link{
  display: flex;
  justify-content: center;
  color: #E0E0E0;
  font-family: Inter;
  font-size: 20px;
  word-wrap: break-word;
  text-decoration: none;
  margin: 10px;
  margin-left: 40px;
  transition: transform 0.2s ease;
}

.nav-link:hover{
  transform: scale(1.15);
}

.container-header-content{
  display: flex;
  justify-content: space-between;
}